body {
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.todo-app {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.add-task-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  margin-bottom: 20px;
}
.add-task-btn:hover {
  background-color: #0056b3;
}
.add-task-input {
  outline: none;
  border: #007bff solid 2px;
  width: calc(100% - 48px);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.add-task-input:hover {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  background-color: #e9ecef;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
}

.task-item:hover {
  background-color: #f8f9fa;
}

.remove-btn {
  cursor: pointer;
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 12px;
}
.completed > div {
  text-decoration: line-through;
  color: #6c757d;
}
.completed {
  background-color: #d1e7dd;
}
